#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#landing>* {
    margin-top: .5vw;
    margin-bottom: .5vw;
}

#tagline {
    width: 100%;
    height: 10vw;
    font-size: 1.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tagline>#title {
    font-weight: bold;
    font-size: 3vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tagline>#paragraph {
    word-spacing: .5vw;
    font-size: 1.5vw;
}

#images {
    width: 100%;
    height: 22vw;
    font-size: 1.8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#images>* {
    border: thin solid black;

}

.recycle-image {
    width: 45%;
    height: 90%;
}

.recycle-image>img {
    width: 100%;
    border-radius: inherit;
}

#recycle-icon {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: 1vw solid black;
    background-color: white;
    z-index: 1;
}

#recycle-image1 {
    margin-right: -4vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-right: 2vw solid grey;
}

#recycle-image2 {
    margin-left: -4vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-left: 2vw solid green;

}

#impact {
    width: 100%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#impact-title {
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#impact-content {
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#impact-content>div {
    width: 23%;
    border-radius: .5vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: 0.2vw 0.2vw .5vw .1vw grey; */
}

.span-image {
    border: thin solid black;
    width: 100%;
    height: 35%;
    border-radius: 5vw;
}

.span-number {
    width: 100%;
    height: 20%;
    border-radius: 3vw;
    font-size: 3.5vw;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.span-word {
    width: 100%;
    height: 20%;
    font-size: 1.5vw;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#assistance {
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#assistance-title {
    height: 40%;
    width: 100%;
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#assistance-title>#title {
    font-weight: bold;
    font-size: 3vw;
}

#assistance-content {
    height: 60%;
    width: 100%;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#assistance-content>div {
    width: 40%;
    height: 9vw;
    border: thin solid black;
    border-radius: 6vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1vw;
    margin-right: 1vw;
}

#picking>#title,
#collection>#title {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-left: -.7vw;
    font-weight: bold;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#picking>#wording,
#collection>#wording {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 7vw;

}

#picking>#wording>span,
#collection>#wording>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5vw;
    height: max-content;
    width: 100%;
}

#solutions {
    height: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#solutions #heading {
    width: 100%;
    height: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#heading #title {
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    height: min-content;
}

#heading #word {
    width: 100%;
    font-size: 1.7vw;
    height: min-content;
    text-align: center;
}

#solutions>#content {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#solutions>#content>div {
    width: 15%;
    height: 100%;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
}

#content #image {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    border-bottom: .5vw solid white;
    border-left: .5vw solid black;
    border-right: .5vw solid black;
    border-top: .5vw solid white;

}

#content #image>img {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
}

#content #title {
    width: 90%;
    border: thin solid black;
    height: 10%;
    font-size: 2vw;
    font-weight: bold;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#content #content {
    width: 90%;
    border: thin solid black;
    height: 35%;
    font-size: 1.3vw;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#image-tag {
    width: 110%;
    height: 35vw;
    background-color: white;
    border: thin solid black;

}
