#collector {
    background-color: #ECF0F8;
    color: #014421;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#collector>* {
    width: 100%;
    height: 10%;
}

#collector-bar {
    width: 100%;
    height: 4vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#collector-bar>* {
    font-size: 2vw;
    text-decoration: none;
    color: #014421;
}

#collector-bar>* {
    margin-left: 2vw;

}

/* colletcor-home ========================================================= */

#collector-home {
    width: 100%;
    height: 60vw;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

#collector-stats {
    width: 100%;
    height: 25vw;
    border: thin solid #014421;
}

#collector-collections {
    height: 40vw;
    width: 100%;
    border: thin solid #014421;
    background-color: #014421;
}
