#disposer-nav {
    width: 100%;
    height: 4vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

/* colors :#172E08
white :#D8FFC0
bright : #5EDB12 */

#disposer-nav>* {
    margin-left: 1vw;
    margin-right: 1vw;
    text-decoration: none;
    width: 10%;
    height: 90%;
    background-color: #172e08;
    color: #5edb12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    border-radius: .2vw;
}

#disposer-nav>*:hover {
    background-color: #d8ffc0;
    color: #172e08;
    border: .3vw double #172e08;
}


/* disposer home ======================================================== */

#disposer-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #d8ffc0;
}

#disposer-home>* {
    margin-top: .5vw;
    border: thin solid #172e08;
}

#disposer-home-title {
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: white;
    font-weight: bold;
}

#disposer-form {
    width: 70%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#disposer-form>span {
    border: thin solid #172e08;
    width: 100%;
    min-height: 5vw;
    background-color: white;
}

#disposer-form button {
    width: 15%;
    height: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: thin solid transparent;
    background-color: #172e08;
    color: #d8ffc0;
    font-weight: bold;
    font-size: 1.8vw;
    border-radius: .2vw;
}

#disposer-previous {
    width: 100%;
    margin-top: -.5vw;
    height: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#disposer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    border: thin solid #172e08;
    height: 100%;
}

.disposer-item {
    width: 90%;
    height: 12vw;
    background-color: #ffffff;
    border-radius: 1vw;
    border: thin solid #172e08;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

#disposer-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: thin solid #172e08;
    width: 40%;
    background-color: white;
    height: 100%;
}
