#redirect {
  width: 100%;
  height: 45vw;
  display: flex;
  background-color: #d8ffc0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#redirect-title {
  width: 100%;
}
