/* color: #172e08; */
/* background-color: #d8ffc0; */

#buyer {
  width: 100%;
  height: max-content;
  border: thin solid #172e08;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#buyer-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
}
#buyer-title {
  width: 100%;
  height: 7vw;
  display: flex;
  font-size: 2vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#buyer-heading {
  font-weight: bold;
  font-size: 2.3vw;
}

#buyer-par {
  color: grey;
  font-size: 1.6vw;
}

#compost-title {
  width: 100%;
  height: 5vw;
  display: flex;
  font-size: 3vw;
  border: thin solid #172e08;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
